body {
  font-size: 16px;
}

header {
  margin-bottom: 65px;
}

section {
  margin-bottom: 130px;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}

p {
  margin-bottom: 20px;
}

.carousel-item {
  height: 100vh;
  /* min-height: 300px; */
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

.carousel-caption {
  bottom: 140px;
}

.carousel-caption h5 {
  font-size: 65px;
}

.course-count {
  font-size: 45px;
  font-weight: 600;
}

.course-text {
  font-size: 20px;
  font-weight: 500;
}

.working-bg {
  background-color: #F4FAFD;
  padding: 0 60px;
}

.social li {
  list-style: none;
  font-size: 30px;
}

.social li i {
  color: #fff;
  padding: 0 15px;
}


/* ====== */
@media (max-width: 768px) {

  header,
  section {
    margin-bottom: 50px;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .carousel-item {
    max-height: 400px;
  }

  .carousel-caption {
    bottom: 80px;
  }

  .carousel-caption h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px !important;
  }

  .carousel-caption p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .btn {
    font-size: 16px;
    font-weight: 600;
    padding: 6px 10px;

  }

  .slider-btn {
    margin-top: 0 !important;
  }

  .accordion-div {
    width: 100% !important;
  }
}


@media (max-width: 992px) {
  .special-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 30px;
  }

  .join-text {
    text-align: center;
  }
}