body {
  font-size: 16px;
}

header {
  margin-bottom: 65px;
}

section {
  margin-bottom: 130px;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}

p {
  margin-bottom: 20px;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

.carousel-caption {
  bottom: 140px;
}

.carousel-caption h5 {
  font-size: 65px;
}

.course-count {
  font-size: 45px;
  font-weight: 600;
}

.course-text {
  font-size: 20px;
  font-weight: 500;
}

.working-bg {
  background-color: #F4FAFD;
  padding: 0 60px;
}

.social li {
  list-style: none;
  font-size: 30px;
}

.social li i {
  color: #fff;
  padding: 0 15px;
}